<div class="main" ng-controller="MainCtrl as ctrl">
  <p ng-if="!ctrl.imgs.imgs.length" class="text-center">
    <i class="glyphicon glyphicon-refresh spin"></i>
  </p>
  <div infinite-scroll="ctrl.more" can-load="ctrl.canLoad" threshold="500">
    <div class="panel panel-default" ng-repeat="img in ctrl.imgs.imgs">
      <div class="panel-heading">
        <h3 class="panel-title" ng-bind="img.title"></h3>
      </div>
      <div class="panel-body">
        <a ng-href="{{img.permalink}}">
          <img ng-src="{{img.url}}" alt="{{img.title}}">
        </a>
      </div>
    </div>
    <p ng-if="!ctrl.canLoad" class="text-center">
      <i class="glyphicon glyphicon-refresh spin"></i>
    </p>
  </div>
</div>
